.bg-color{
    background-color: #0b163f;
  }
  .navbar-expand-lg .offcanvas .offcanvas-body{
justify-content: end;
  }
  .ul nav{
      justify-content:center;
      font-size: medium;
  }

  .nav-link{
      color: white;
  }
  
  @media (max-width: 767px) {
     v-link{
              text-align: center !important;
          }
          .account-button{
              text-align: center;
          }
          .offcanvas-body{
              background-color: #013A63;
          }
      }